html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#Div_container {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1024px;
	max-width: 1366px;
	margin: 0 auto;
	overflow: hidden;
	/*background: rgba(127, 127, 127, 0.5);*/
}

#Div_sidebar {
	position: absolute;
	width: 33%;
	height: 100%;
	/*background: rgba(255, 31, 31, 0.1);*/
}

#Div_toolbar {
	position: relative;
	left: 33%;
	width: 67%;
	height: 128px;
	padding-top: 64px;
	text-align: center;
	/*background: rgba(31, 255, 31, 0.1);*/
}

#Div_display {
	position: relative;
	left: 33%;
	width: 67%;
	height: calc(100% - 128px);
	/*background: rgba(31, 31, 255, 0.1);*/
}

#Div_title {
	position: relative;
	width: 100%;
	height: 128px;
	padding: auto;
	/*background: rgba(255, 255, 31, 0.1);*/
}
#Div_title h1 {
	padding: 32px 0;
	text-align: center;
	font-size: 56px;
}

#Div_button {
	position: absolute;
	width: 72px;
	height: calc(100% - 128px);
	/*background: rgba(255, 31, 255, 0.1);*/
}

#Div_content {
	position: absolute;
	width: 100%;
	height: calc(100% - 128px);
	padding-left: 72px;
	/*background: rgba(31, 255, 255, 0.1);*/
}

#Svg_display {
	width: 100%;
	height: 100%;
	border: 5px rgba(32, 32, 32, 1.0) solid;
	border-radius: 20px;
}
